
/*
Fonts (DM Sans)

The fonts and faces used on the site.

Markup:
<div class="font-sans text-xl text-ferrite">
  <h1 class="font-sans">DM Sans Regular</h1>
  <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
  <p>abcdefghijklmnopqrstuvwxyz</p>
  <p>`1234567890-=!@#$%^&*()_+[]{}\|;:'",<.>/?</p>
</div>

Styleguide Base.Fonts.DM Sans
*/

/*
Fonts (Publica Slab Bold)

The fonts and faces used on the site.

Markup:
<div class="font-serif font-bold text-xl text-ferrite">
  <h1>Publica Slab Extra Bold</h1>
  <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
  <p>abcdefghijklmnopqrstuvwxyz</p>
  <p>`1234567890-=!@#$%^&*()_+[]{}\|;:'",<.>/?</p>
</div>

Styleguide Base.Fonts.Publica Slab Bold
*/

/*
Fonts (Publica Slab Light)

The fonts and faces used on the site.

Markup:
<div class="font-serif font-light text-xl text-ferrite">
  <h1>Publica Slab Light</h1>
  <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
  <p>abcdefghijklmnopqrstuvwxyz</p>
  <p>`1234567890-=!@#$%^&*()_+[]{}\|;:'",<.>/?</p>
</div>

Styleguide Base.Fonts.Publica Slab Light
*/
